body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  /* zoom: 0.9; */
}

.detail-icon:before {
  content: "+";
}

.svg-inline--fa {
  width: 16px;
  height: 16px;
}

/*
 * Sidebar
 */
.sidebar {
  width: 260px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10; /* Behind the navbar */
  padding: 75px 0 0; /* Height of navbar */
}

@media (min-width: 768px) {
  .main {
    padding-right: 30px;
    padding-left: 290px;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(110vh - 75px); zoom 0.9
  height: calc(100vh - 75px);
  padding-top: 1.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  padding-bottom: 1.1rem;
  padding-left: 15px;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: black;
}

.sidebar .nav-link .feather {
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 1rem;
  text-transform: uppercase;
}

/*
 * Content
 */
[role="main"] {
  padding-top: 75px; /* Space for fixed navbar */
}

/*
 * Navbar
 */
.navbar .form-control {
  padding: 1.75rem;
  border-width: 0;
  border-radius: 0;
}

.navbar-brand {
  padding-left: 2rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  font-size: 1.4rem;
}

.navbar-button {
  position: absolute;
  left: 290px;
}

.navbar-summary {
  position: absolute;
  padding-top: 1.2rem;
  padding-bottom: 1.1rem;
  padding-right: 20px;
  left: 770px;
  color: white;
  font-size: 1.2rem;
}

/*
 * Utilities
 */
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*
* Modal
*/
.modal {
  padding: 1%;
  top: 20%;
  white-space: pre-wrap; /* allow \n for new line */
}

.modal-lg {
  min-width: auto;
  max-width: fit-content;
}

.modal-dialog {
  overflow-y: initial !important
}

.modal-body {
  max-height: 50vh;
  overflow-y: auto;
}

/*
* Form
*/
form .error {
  color: #ff0000;
  display: inline;
}

legend {
  background-color: #d1ecf1;
  padding: 3px 6px;
  border-radius: 3px;
}

/*
* Table colors
*/
.miner-disabled {
  background-color: rgb(255, 241, 195);
}
.miner-failed {
  background-color: rgb(255, 224, 224);
}
.miner-idle {
  background-color: rgb(230, 248, 252);
}
.miner-running {
  background-color: rgb(239, 250, 239);
}

/*
* Footer
*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding-right: 40px;
  z-index: -1;
}
